<div id="banner">
  <div class="banner_content">
    <h1>File Cabinet</h1>
    <p>Your life's work. Organized, always.</p>
    <%= button_to  "Enter", new_user_registration_path, class: "button" %>
  </div>
</div>

<div id="callouts">
  <div class="callout_inner">
    <div class="wrapper">
      <div class="callout">
        <h2>Organize</h2>
        <p>Skateboard man braid raw denim, scenester +1 jianbing small batch vexillologist retro tousled narwhal fingerstache. You probably haven't heard of them put a bird on it hella pickled umami hell of. Mixtape cardigan next level unicorn yuccie tumeric butcher hoodie vice iceland cronut paleo. Tote bag keffiyeh skateboard migas gochujang selfies cardigan messenger bag tofu. Butcher narwhal four loko fashion axe. Iceland air plant 90's subway tile, etsy distillery butcher knausgaard cold-pressed mumblecore tote bag letterpress. Forage viral poutine unicorn, 90's paleo shoreditch woke quinoa.</p>
      </div>
    </div>
  </div>
</div>
<div id="bottom_cta">
  <div class="wrapper">
        <h2>Go Ahead!</h2>
        <br>
        <p>Skateboard man braid raw denim, scenester +1 jianbing small batch vexillologist retro tousled narwhal fingerstache. You probably haven't heard of them put a bird on it hella pickled umami hell of. Mixtape cardigan next level unicorn yuccie tumeric butcher hoodie vice iceland cronut paleo. Tote bag keffiyeh skateboard migas gochujang selfies cardigan messenger bag tofu. Butcher narwhal four loko fashion axe. Iceland air plant 90's subway tile, etsy distillery butcher knausgaard cold-pressed mumblecore tote bag letterpress. Forage viral poutine unicorn, 90's paleo shoreditch woke quinoa.</p>
    <%= button_to  "Join Now", new_user_registration_path, class: "button" %>
  </div>
</div>
